<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">
   
 
<!-- 커스텀 스코프 -->
<bean class="org.springframework.beans.factory.config.CustomScopeConfigurer">
		<property name="scopes"> <!-- 사용자가 등록한 정보를 넣기 -->
			<map>
				<entry key="user">
					<bean class="com.exam.UserScope"/>
				</entry>
			</map>
		</property>
	</bean>


<!-- 사용자 정의 스코프 -->
<bean id="userBean" class="com.exam.UserBean" scope="user"></bean>  
  	
</beans>
